main * {
  box-sizing: border-box;
}

.shopping-cart {
  width: 800px;
  height: auto;
  margin: 80px auto;
  background: #ffffff;
  box-shadow: 1px 1px 5px #02577a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  height: 60px;
  padding: 20px 30px;
  color: #02577a;
  font-size: 20px;
  font-weight: bold;
}

.item {
  padding: 20px 30px;
  height: auto;
  display: flex;
  margin-bottom: 10px;
  border-top: 1px solid #cfd6db;
}

.delete-btn {
  position: relative;
  top: 55px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  background-color: crimson;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.1s linear;
}
.delete-btn:hover {
  background-color: red;
  transform: translateY(-3px);
  box-shadow: 0 3px 5px #02a9f7;
}
.delete-btn:active {
  transform: translateY(0px);
  background-color: crimson;
}

/* Product Image */
.image {
  margin-right: 50px;
  width: 150px;
}

.image img{
  width: 100%;
}

/* Product product_name */
.product_name {
  padding-top: 60px;
  margin-right: 60px;
  width: 150px;
  font-size: 14px;
  color: #02577a;
  font-weight: bold;
}


/* Product Quantity */
.quantity {
  padding-top: 55px;
  margin-right: 60px;
  width: 140px; 
}
.quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.plus-btn, .minus-btn {
  width: 30px;
  height: 30px;
  background-color: #02577a;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.1s linear;
}

.plus-btn:hover, .minus-btn:hover {
  background-color: #027aad;
  transform: translateY(-3px);
  box-shadow: 0 3px 5px #02a9f7;
}
.plus-btn:active, .minus-btn:active {
  transform: translateY(0px);
  background-color: #02577a;
}


/* Total Price */
.price {
  width: 83px;
  padding-top: 58px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #02577a;
}

/* Cart footer */
.cart-footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.cart-footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main_button {
  background-color: #02577a;
  text-decoration: none;
  margin-top: 5px;
  width: 180px;
  height: 40px;
  text-align: center;
  font-size: 16px;
}

.checkout {
  margin-top: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total-price{
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}
.total-price span{
  color: #02577a;
  font-size: 20px;
}

/* Responsive */
@media (max-width: 840px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .product_name {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }

  .cart-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
