.checkout_form {
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 500ms;
    z-index: 9999; 
}
.checkout_form:target{
    visibility: visible;
    opacity: 1;
}

.close_btn {
    float: right;
}

.close_btn a{
    color: #02577a;
    text-decoration: none;
}
.close_btn a:hover{
    text-decoration: underline;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}
.half_side {
    flex: 50%;
    padding: 0 10px;
}

.container {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #02577a;
}

#checkout_form input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 6px;
}
#checkout_form input[type="text"]:focus {
    box-shadow: 0px 0px 5px #02577a;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 10px;
    padding: 5px 0;
    font-size: 24px;
}

a {
    color: #2196f3;   
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

@media (max-width: 800px) {
    .checkout_form {
        width: 90%;
    }
  }