.form-control {
    position: relative;   
}

.form-control.error input {
    border-color: red;
    margin-bottom: 1px;
    box-sizing: border-box;
    width: 100%;
}

.form-control .error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}
