.headshop {
    height: 500px;
    font-size: 2em;
    padding: 25px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/shop_bg.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
    color: white;
  }
  

main * {
    box-sizing: border-box;
}

#shop_container{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

#col_1{
    background-color: whitesmoke;
    width: 20%;
    min-width: 250px;
    padding-left: 10px;
}

#col_2{ 
    padding-left: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

#product_menu{
    width: 100%;    
    margin: 0 auto;
    display: flex;  
    flex-wrap: wrap;
}

#category_card{
    background-color: white;
    width: 95%;
    min-width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 15px ;
    box-shadow: 0px 2px 5px #02577a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 10px;
}

#category_card a{
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    color: #02577a;
    text-indent: 60px;
    font-size: 20px;
    font-weight: bolder;
    transition: all 0.2s ease;
    object-fit: cover;
}
#category_card a:hover{
    background-color: #02577a;
    color: white;
    padding-left: 20px;
}

#brand_card{
    background-color: white;
    width: 95%;
    min-width: 200px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px ;
    box-shadow: 0px 2px 5px #02577a;
}

#brand_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#brand_items img{
    width: 150px;
    height: 80px;
    object-fit: cover;
    transition: all 0.2s ease;
}
#brand_items img:hover{
    width: 200px;
}

/* Product Card */
.product-card {
    /* width: 250px; */
    width: 23%;
    height: auto;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #02577a;
    margin: 10px;
    padding: 25px;
}

.product-img{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img{
    width: 100%;
    position: relative;
}

@media (max-width: 1297.98px) { 
    .product-card {
        width: 230px;
    }

    .product-img{
        height: 200px;
    }
}

@media (max-width: 1259.98px) { 
    .product-card {
        width: 30%;
    }

    .product-img{
        height: 250px;
    }
}

@media (max-width: 999.98px) { 
    .product-card {
        width: 45%;
    }
    
    .product-img{
        height: 200px;
    }
}

@media (max-width: 767.98px) { 
    .product-card {
        width: 90%;
    }
    
    .product-img{
        height: 300px;
    }

    #col_2{
        width: 70%;
        padding-left: 0px;
    }
    
    #product_menu {
        display: flex;
        justify-content: center;
    }
    
    #col_1{
        width: 30%;
        min-width: 150px;
        padding-right: 10px;
    }
    
    #category_card{
        text-align: center;
        text-indent: 0;
        width: 100%;
        min-width: 100px;   
    }

    #category_card a{
        text-indent: 0;
        font-size: 18px;
    }

    #brand_card{
        width: 100%;
        min-width: 100px;  
        text-align: center; 
        
    }

    #brand_card img{
        width: 120%; 
        transform: translateX(-5px);
    }

    #brand_items img:hover{
        width: 100px;
    }
}

.product_badge{
    position: absolute;
    z-index: 999;
    background-color: #02a9f7;
    width: 45px;
    height: 40px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0.5px solid #009cdf;
}

.product-name {
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #01303f;
}

.product-description {
    width: 100%;
    padding: 5px;
    height: 24px;
    font-size: 12px;
    font-weight: 500;
}

.product-price {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    color: #02577a;
    margin-bottom : 15px;
    margin-top : 10px;
}

.view-detail {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: #02577a;
    padding-bottom: 15px;
}

.view-detail:hover {
    color: #02577a;
    font-weight: bold;
    text-decoration: underline;
    transition: all 0.2s ease;
    padding-left: 10px;
}

.add-cart-btn {
    border: none;
    margin: 0 auto;
    width: 100%;
    border: 1px;
    font-weight: bold;
    padding: 8px;
    background-color: #02577a;
    color: #fff;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 200;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 5px #02a9f7;
    transition: all .1s linear;
}

.add-cart-btn:hover {
    color: #fff;
    background-color: #027aad;
    transform: translateY(-3px);
    box-shadow: 0 3px 5px #01303f;
}

.add-cart-btn:active {
    transform: translateY(0px);
    box-shadow: 0 0 0 #01303f;
}
