/* #d4f0fc	
#02577a	
#02a9f7	
#02577a	
#01303f  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

/* Start/ Header Section */

#top-bar{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #01303f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

#welcome-message{
    font-size: 1.2em;
    color: white;
    font-style: oblique;
    font-weight: bold;
}

@media (max-width:767px) {
    #top-bar{
        justify-content: center;
    }
    #welcome-message{
        display: none;
    }
}

.social-icon {
    display: inline;
    padding-right: 10px;
    color: white;
}

.social-icon img{
    width: 35px;
    min-width: 10px;
    transition: all 0.2s ease;
}

.social-icon img:hover{
    /* width: 40px; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    width: 2.5em;
}

#middle-bar{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}


@media (max-width:790px) {
    #middle-bar{
        height: 200px;
        justify-content: center;
    }

    #logo {
        display: flex;
        justify-content: center;
    }
}

#logo{
    width: 305px;
    flex-grow: 4;
}

#logo img{
    width: 200px;
}

#search {
    width: 40%;
    min-width: 210px;
    position: relative;
    flex-grow: 3;
    display: flex;
}

#search input{
    height: 30px;
}

.searchTerm {
    width: 100%;
    border: 3px solid #02577a;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    box-shadow: 0px 0px 5px #02577a;
    color: #02577a;
}

.searchButton {
    width: 50px;
    height: auto;
    border: 1px solid #02577a;
    background: #02577a;
    align-items: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0;
}

.searchButton:hover {
    background: #027aad;
    width: 55px;
}
.searchButton img{
    transition: all 0.1s ease;
    width: 28px;
}
.searchButton img:hover {
    width: 33px;
}

#account-cart{
    width: 143px;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-cart a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    min-width: none;   
    height: 55px;
    min-height: 40px;
    margin: 5px;    
    border-radius: 50% ;
    background-color: #02577a;
    transition: all 0.2s ease;
}

.account-cart a:hover{
    background-color: #027aad;
}

.account-cart img{
    width: 35px;
    transition: all 0.2s ease;
}
.account-cart img:hover{
    width: 44px;
}

#account{
    display: flex;
    justify-content: center;
}

#account ul{
    margin-top: 60px;
    position: absolute;
    width: 100px;
    background-color: #02577a;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 0px 5px white;
    display: none;
    z-index: 9999;
}
#account ul a{
    color: white;
    text-decoration: none;
    padding: 2px;
    margin: 0;
    border-radius: 10px;
}
#account ul a:hover{
    background-color: #02577a;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#account:hover ul{
    display: block;
}



nav{
    box-sizing: border-box;
    padding-left: 15px;
    width: 100%;
    height: 50px;
    background-color: #02577a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold
}


.nav-item {
    width: 100px;
    height: auto;
}

.nav-item a{
    width: 100%;
    height: 100%;
    color: white;
    transition: all 0.2s ease;
    text-decoration: none;
}

.nav-item a:hover{
    text-decoration: underline;
    padding-left: 10px;
}

@media (max-width:420px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 0; 
    }
    .nav-item {
        border-top: 2px solid white;
        width: 100%;
    }
}

/* End/ Header Section */

/* Start/ Main Section  */


.main_button{
    width: 200px;
    height: 50px;
    padding: 8px;
    background-color: #02a9f7;
    border-radius: 10px;
    border: none;
    border-style: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #02a9f7;
    transition: all 0.1s linear;
}
.main_button:hover{
    background-color: #027aad;
    transform: translateY(-3px);
    box-shadow: 0 3px 5px #02a9f7;
}
.main_button:active{
    transform: translateY(0px);
    box-shadow: 0 0 0 #02577a;
}

#headhome {
    height: 500px;
    font-size: 1.2em;
    padding: 25px;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    background: url(../images/homebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

#headhome p{
    margin-bottom: 50px;
}

.section_category{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section_heading{
    height: 250px;
    font-size: 2em;
    padding: 25px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 15px 15px 0 0;
}

.section_heading_laptop{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/laptop_bg_2.jpg);
    background-position-y: 75%;
    background-position-x: 100%;
}
.section_heading_desktop{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/desktop_bg_2.jpg);
    background-position-y: 20%;
    background-position-x: 50%;
}
.section_heading_accessory{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/lap-accessories_2.jpg);
    background-position-y: 40%;
    background-position-x: 50%;
}
.section_heading h1{
    border: 8px solid white;
    padding: 20px;
}
.section_product{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section_type{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section_type_heading{
    width: 100%;
    height: 60px;
    background-color: #02577a;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    border-radius: 15px 15px 0 0;
}

/* End/ Main Section  */

/* Start Newsletter */

    #section_newsletter{
        height: auto;
        font-size: 1.2em;
        padding: 25px;
        padding-bottom: 50px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/newsletter.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    #section_newsletter span{
        color: #02a9f7;
        font-weight: bolder;
        font-size: 1.2em;
        font-style: italic;
    }

    #section_newsletter input{
        min-width: 50vw;
        height: 15px;
        font-size: 1em;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        outline: none;
        border-radius: 6px;
    }
    #section_newsletter input:focus{
        box-shadow: 0px 0px 20px #02a9f7;
    }

/* End Newsletter */


/* Start Login */

.form-wrapper {
    visibility: hidden;
    position: fixed;
    min-height: 80vh;
    left: 50%;
    top: 50%;
    border-radius: 15px;
    /* box-shadow: 0px 0px 5px #02577a; */
    box-shadow: 0px 0px 999px black;
    padding: 30px;
    width: 450px;  
    background: white;
    transition: opacity 500ms;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.form-wrapper:target{
    visibility: visible;
    opacity: 1;
}

.close_login{
    float: right;
}

.close_login a{
    color: #02577a;
    text-decoration: none;
}
.close_login a:hover{
    color: #02577a;
    text-decoration: underline;
}

.form-wrapper h2 {
    color: #02577a;
    font-size: 2rem;
    font-weight: bold;
}

.form-wrapper form {
    margin: 25px 0 45px;
}

.form-wrapper form .form-control {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 20px;
}

.form-wrapper .form-control input {
    height: 90%;
    width: 90%;
    background: white;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #02577a;
    font-size: 1rem;
    padding: 0 20px;
    border: 1px solid #02577a;
}

.form-wrapper .form-control input:is(:focus, :valid) {
    background: white;
    padding: 16px 20px 0;
    box-shadow: 0 0 5px #02577a;
}

.form-wrapper .form-control label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    color: #02577a;
    transition: all 0.1s ease;
}

.form-wrapper .form-control input:is(:focus, :valid)~label {
    font-size: 0.75rem;
    transform: translateY(-130%);
}
.form-wrapper form button {
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    background: #02577a;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 15px 0 10px;
    cursor: pointer;
    transition: 0.1s ease;
    box-shadow: 0px 0px 5px #02a9f7;
    transition: all 0.1s linear;
}

.form-wrapper form button:hover {
    background-color: #027aad;
    transform: translateY(-3px);
    box-shadow: 0 3px 5px #02a9f7;
}
.form-wrapper form button:active{
    transform: translateY(0px);
    box-shadow: 0 0 0 #02577a;
}

.form-wrapper a {
    text-decoration: none;
}

.form-wrapper a:hover {
    text-decoration: underline;
}

.form-wrapper :where(label, p, small, a) {
    color: #02577a;
}

.form-wrapper form .form-help {
    display: flex;
    justify-content: space-between;
}

.form-wrapper form .remember-me {
    display: flex;
}

.form-wrapper form .remember-me input {
    margin-right: 5px;
    accent-color: #0579fd;
}

.form-wrapper form .form-help :where(label, a) {
    margin-top: 7px;
    font-size: 0.9rem;
}

.form-wrapper p a {
    color: #02577a;
    font-weight: bold;
    
}

@media (max-width: 740px) {

    .form-wrapper {
        width: 80%;
        top: 50%;
    }

    .form-wrapper form {
        margin: 25px 0 40px;
    }
}

/* End Login */